<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbudim se</title>
    <link rel='stylesheet' href='/public/stylesheets/footer.css' />
    <link rel='stylesheet' href='/public/stylesheets/general.css' />
    <link rel='stylesheet' href='/public/stylesheets/register.css' />
    <script type="text/javascript" src="/public/javascripts/validation.js" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main>
    <div class="content-wrapper" >
        <h1>About this page</h1>
        <p>This web app is primarily for students of FRI (support for other faculties can be added later) and it allows for a simpler tracking of the timetable even when exchanging lessons with other students.</p>
        <p>
            The main features of the app are:
        </p>
        <ul>
            <li>Adding and removing courses from your timetable</li>
            <li>Exchanging practical classes with other users</li>
            <li>Calculating the time you should be waking up and leaving for faculty based on bus schedule</li>
            <li>Importing your timetable based on your student id number</li>
            <li>If multiple modes of transportation are available suggesting the best one based on weather</li>
        </ul>
        <p>
            This application will be developed and tested on the following browsers:
        </p>
        <ul>
            <li>Microsoft Edge</li>
            <li>Mozilla Firefox</li>
            <li>Google Chrome</li>
        </ul>
    </div>
</main>
<footer>
    <a href="/">Zbudim.se</a>
    <a href="/about.html">About</a>
</footer>
</body>
</html>
