<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbudim se</title>

    <link rel='stylesheet' href='../public/stylesheets/footer.css' />
    <link rel='stylesheet' href='../public/stylesheets/main.css' />
</head>
<body>
    <nav>
        <form action="/" method="get">
            <div>
                <input type="submit" style="float:right; margin-left:20px;" value="Settings" />
            </div>
        </form>
        <form action="/logout" method="get">
            <div>
                <input type="submit" style="float:right;" value="Logout" />
            </div>
        </form>
    </nav>

    <div class="wrapper" style="padding-bottom: 50px;">
    <main>
        <div class="row h100">
            <div class="col-2">
                <div>
                    <p>Time to wake up:</p>
                    <p>8:00</p>
                </div>
                <hr>
                <div>
                    <p>Bus leaves at:</p>
                    <p>8:00</p>
                </div>
                <hr>
                <div>
                    <p>Time to wake up:</p>
                    <p>8:00</p>
                </div>
                <hr>
            </div>
            <div class="col-7 h100">
                <div class="row" id="controls">
                    <button>Add course</button>
                </div>
                <div class="row" id="timetable">
                    <div class="col-2-1 h100">
                        6:00
                    </div>
                    <div class="col-2-1 h100">
                        a
                    </div>
                    <div class="col-2-1 h100">
                        <div class="lecture c1"> SP_P</div>
                        <div class="lecture c2"> PS_P</div>
                        <div class="lecture c3"> PS_LV</div>
                    </div>
                    <div class="col-2-1 h100">
                        <div class="lecture c4"> PRPO_P</div>
                        <div class="lecture c5"> OUI_P</div>
                        <div class="lecture c6"> DN_P</div>
                        <div class="lecture c7"> TUP_LV</div>
                    </div>
                    <div class="col-2-1 h100">
                        <div class="lecture c8"> MRO_LV</div>
                        <div class="lecture c1"> OUI_LV</div>
                        <div class="lecture c2"> DN_LV</div>
                        <div class="lecture c3"> PRPO_LV</div>
                    </div>
                    <div class="col-2-1 h100">
                        <div class="lecture c4"> MRO_P</div>
                        <div class="lecture c5"> SP_LV</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <footer>
        Zbudim.se
        <a href="/About">About</a>
    </footer>

</body>
</html>
