<!DOCTYPE html>
<html>
    <head>
        <title>Zbudim se</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/public/stylesheets/login.css' />
        <link rel='stylesheet' href='/public/stylesheets/footer.css' />
        <link rel='stylesheet' href='/public/stylesheets/general.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <main>
            <div class="content-wrapper">
                <h1>Login</h1>
                <form action="./index.html" method="get">
                    <div class="form form-group">
                        <label>Username or email
                            <input type="text" name="username" required/>
                        </label>
                    </div>
                    <div class="form form-group">
                        <label>Password
                            <input type="password" name="password" required/>
                        </label>
                    </div>

                    <input type="submit" value="Login"/>
                </form>
                <div class="form">
                    <a href="./register.html">Register here</a>
                </div>
            </div>
        </main>
        <footer>
            <a href="/">Zbudim.se</a>
            <a href="/about.html">About</a>
        </footer>
    </body>
</html>