<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Zbudim se</title>
        <link rel='stylesheet' href='../public/stylesheets/login.css' />
        <link rel='stylesheet' href='../public/stylesheets/footer.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="content-wrapper">
            <p class="title">Login</p>
            <form action="/{{ lang }}/login" method="post">
                <div class="form form-group">
                    <label>Username or email</label>
                    <input type="text" name="username">
                </div>
                <div class="form form-group">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>

                <button type="submit" id="login_button">Login</button>
            </form>
            <div class="form">
                <a href="/login/register">Register here</a>
            </div>
        </div>
        <div id="footer">
            Zbudim.se
            <a href="/About">About</a>
        </div>
    </body>
</html>