<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Zbudim se</title>
        <link rel='stylesheet' href='../public/stylesheets/login.css' />
    </head>
    <body>
        <div>
            <p class="title">Login</p>
            <form action="/{{ lang }}/login" method="post">
                <div class="form-group">
                    <label>Username or email</label>
                    <input type="text" name="username">
                </div>
                <div >
                    <label>Password</label>
                    <input type="password" name="password">
                </div>

                <button type="submit" id="login_button">Login</button>
            </form>
            <a href="/login/register">Register here</a><br>
        </div>
        <div id="footer">
            <p>Zbudim.se</p>
            <a href="/About">About</a>
        </div>
    </body>
</html>