<!DOCTYPE html>
<html>
<head>
    <title>Zbudim se</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/public/source/stylesheets/login.sass' />
    <link rel='stylesheet' href='/public/source/stylesheets/_footer.sass' />
    <link rel='stylesheet' href='/public/source/stylesheets/_general.sass' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main>
    <div class="content-wrapper">
        <h1>Account recovery</h1>
        <p class="form-group">If a user with the specified username or email exsists, you will recieve an email with the details on how to recover your account.</p>
        <form action="login.handlebars" method="get">
            <div class="form form-group">
                <label>Username or email
                    <input type="text" name="username" required/>
                </label>
            </div>
            <input type="submit" value="Recover"/>
        </form>
    </div>
</main>
<footer>
    <a href="/">Zbudim.se</a>
    <a href="/about.html">About</a>
</footer>
</body>
</html>