<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbudim se</title>

    <link rel='stylesheet' href='../public/stylesheets/footer.css' />
    <link rel='stylesheet' href='../public/stylesheets/settings.css' />
</head>
<body>
<div class="center" >
    <p class="title">Registration</p>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <b>Username:</b>
            <input type="text" id="Username" name="Username" value="Username" />
        </div>
        <div>
            <b>Email:</b>
            <input type="email" id="Email" name="Email" value="email" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="checkbox" value="0"/>I Agree To The Terms & Conditions<br>
        </div>
        <input type="submit" value="Register" />
    </form>
</div>
<div id="footer">
    <p>Zbudim.se</p>
    <a href="/About">About</a>
</div>
</body>
</html>
