<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbudim se</title>

    <link rel='stylesheet' href='../public/stylesheets/footer.css' />
    <link rel='stylesheet' href='../public/stylesheets/settings.css' />
</head>
<body>
<nav>
    <form action="/" method="get">
        <div>
            <input type="submit" style="float:right; margin-left:20px;" value="Home" />
        </div>
    </form>
    <form action="/logout" method="get">
        <div>
            <input type="submit" style="float:right;" value="Logout" />
        </div>
    </form>
</nav>

<div class="center" >
    <p class="title">Settings</p>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <b>Email:</b>
            <input type="email" id="Email" name="Email" value="email" />
        </div>
        <div>
            <b>Home address:</b>
            <input type="text" id="Address" name="Address" value="Home address" />
        </div>
        <div>
            <b>Avaible modes of transportation:</b><br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle1" value="0">  Avto<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle2" value="0">  Avtobus<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle3" value="0">  Kolo<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle4" value="0">  Hoja<br>
        </div>
        <div>
            <b>Choose mode of transport based on:</b><br>
            <input type="radio" style="margin-left:20px;" name="vehicle1" value="0">  Wheather<br>
            <input type="radio" style="margin-left:20px;" name="vehicle2" value="0">  Manual<br>
        </div>
        <b>Time needed for preparation after waking up:</b>
        <input type="text" id="time" name="time" value="<%= nastavitve[8] %>" />
        <input type="submit" value="Shrani" />
    </form>
    <hr>
    <form>
            <b>Student ID:</b>
            <input type="number" id="StudentId" name="StudentId" value="Student id" />

            <input type="submit" value="Import timetable" />
    </form>
</div>
<div id="footer">
    <p>Zbudim.se</p>
    <a href="/About">About</a>
</div>
</body>
</html>
