footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    text-align: center;
    display: table;
}

footer * {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

footer a {
    margin-left: 30%;
}

@media only screen and (max-height: 400px){
    footer {
        display: none;
    }
}