body {
    background: url("../images/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    width: 400px;
    height: 200px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background-color: rgba(255, 255, 255, 0.80);
    padding: 20px 30px 30px 30px;
    border-radius: 15px 40px 15px 40px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.30);
}

@media only screen and (max-width: 500px) {
    body {
        background: rgb(0, 185, 255);
        font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    main {
        width: 90%;
        min-height: 240px;
        height: 5%;
        box-sizing: border-box;

        background-color: rgba(255, 255, 255, 0.80);
        padding: 15px 25px 25px 25px;
        border-radius: 15px 40px 15px 40px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.30);
    }
}

.title {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top:5px;
}

.message {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: red
}

.red {
    color: red;
}

.text-small {
    font-size: 12px;
    white-space: nowrap;
}

.form {
    margin: 2px 0px 0px 10px;
    font-size: 14px;
}

.form-group * {
    display: block;
    color: rgb(115, 115, 115);
}

.form-group {
    margin-bottom: 15px;
}

form input {
    height: 25px;
    width: 90%;
    font-size: 15px;
    padding-left: 5px;
}

#login_button{
    font-size: 15px;
    font-weight: bold;
    float: right;
    height: 30px;
    width: 80px;
}