.content-wrapper {
    width: 90%;
    min-height: 600px;
    min-width: 300px;
    height: 5%;
}

@media only screen and (min-width: 630px) {
    .content-wrapper {
        width: 600px;
        height: 610px;
    }
}

.message {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: red
}

.red {
    color: red;
}

hr {
    clear: right;
    padding: 2px;
    background-color: #c1c1c1;
}

#timeSubmit {
    width: 150px;
}